---
import { SheetsProductRepository } from '../../infrastructure/sheets/sheets.repository.ts';

export async function getStaticPaths() {
  const repository = new SheetsProductRepository();
  const products = await repository.findAll();
  const brands = [...new Set(products.map(p => p.marca))];

  return brands.map(brand => ({
    params: { category: brand.toLowerCase() },
    props: { brand },
  }));
}

const { brand } = Astro.props;
---
<h1>{brand}</h1>
